@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "flowbite";

/* Import Typekit Fonts */
@import url("https://use.typekit.net/rpb6jlf.css");

/* Set global styles */
body {
  background-color: #ffffff; /* Default light mode background color */
  color: #1d1d1d; /* Default light mode text color */
  margin: 0;
  padding: 0;
  font-family: "Metrophobic", Arial, sans-serif; /* Default font for body text with fallback */
  font-display: swap; /* Ensure font-display swap */
  scrollbar-width: thin;
  scrollbar-color: #ee0405 transparent; /* Thumb color and track color for Firefox */
  overflow-x: hidden; /* Prevent horizontal overflow */
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

/* assets/css/global.css */
.nuxt-img-animation {
  position: relative;
  overflow: hidden;
  transition: transform 0.6s ease;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

/* Prevent horizontal overflow throughout the entire app */
html, body {
  overflow-x: hidden;
}

/* Dark mode styles */
.dark body {
  background-color: #1d1d1d; /* Dark mode background color */
  color: #ffffff; /* Dark mode text color */
}

/* Apply to common text elements globally */
p, h1, h2, h3, h4, h5, h6, span, div {
  hyphens: auto;
  word-wrap: break-word;
  word-break: auto-phrase;
}

/* Custom font styles */
h1,
h2,
h3 {
  font-family: "ethnocentric", sans-serif;
}

h4,
h5,
h6 {
  font-family: "jaf-bernino-sans-comp", sans-serif;
}

p,
span {
  font-family: "Metrophobic", Arial, sans-serif; /* Metrophobic with fallback to Arial */
}
