@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "flowbite";

/* Import Typekit Fonts */
@import url("https://use.typekit.net/rpb6jlf.css");

/* Set global styles */
body {
  background-color: #ffffff; /* Default light mode background color */
  color: #1d1d1d; /* Default light mode text color */
  margin: 0;
  padding: 0;
  font-family: "Metrophobic", sans-serif; /* Default font for body text */
  font-display: swap; /* Ensure font-display swap */
  scrollbar-width: thin;
  scrollbar-color: #ee0405 transparent; /* Thumb color and track color for Firefox */
  overflow-x: hidden; /* Prevent horizontal overflow */
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

/* From http://lea.verou.me/css3patterns/ */
/* Playing with CSS */
.carbon-fibers {
  background: linear-gradient(27deg, #151515 2px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 2px, transparent 5px) 2px 0px,
    linear-gradient(27deg, #222 2px, transparent 5px) 0px 2px,
    linear-gradient(207deg, #222 2px, transparent 5px) 2px 5px,
    linear-gradient(90deg, #1b1b1b 2px, transparent 10px),
    linear-gradient(
      #1d1d1d 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      transparent 50%,
      transparent 75%,
      #242424 75%,
      #242424
    );
  background-color: #131313;
  background-size: 20px 20px;
}

/* assets/css/global.css */
.nuxt-img-animation {
  position: relative;
  overflow: hidden;
  transition: transform 0.6s ease;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

/* Prevent horizontal overflow throughout the entire app */
html, body {
  overflow-x: hidden;
}

/* Dark mode styles */
.dark body {
  background-color: #1d1d1d; /* Dark mode background color */
  color: #ffffff; /* Dark mode text color */
}

/* Apply to common text elements globally */
p, h1, h2, h3, h4, h5, h6, span, div {
  hyphens: auto;
  word-wrap: break-word;
  word-break: break-word;
}

/* Custom font styles */
h1,
h2,
h3 {
  font-family: "ethnocentric", sans-serif;
}

h4,
h5,
h6 {
  font-family: "jaf-bernino-sans-comp", sans-serif;
}

p,
span {
  font-family: "Metrophobic", sans-serif;
}

/* Ethnocentric Font Weights */
.ethnocentric-ultralight {
  font-weight: 100;
}

.ethnocentric-ultralight-italic {
  font-weight: 100;
  font-style: italic;
}

.ethnocentric-extralight {
  font-weight: 200;
}

.ethnocentric-extralight-italic {
  font-weight: 200;
  font-style: italic;
}

.ethnocentric-light {
  font-weight: 300;
}

.ethnocentric-light-italic {
  font-weight: 300;
  font-style: italic;
}

.ethnocentric-regular {
  font-weight: 400;
}

.ethnocentric-italic {
  font-weight: 400;
  font-style: italic;
}

.ethnocentric-bold {
  font-weight: 700;
}

.ethnocentric-bold-italic {
  font-weight: 700;
  font-style: italic;
}

/* Bernino Sans Compressed Font Weights */
.bernino-sans-comp-regular {
  font-weight: 400;
}

.bernino-sans-comp {
  font-weight: 100;
}

.bernino-sans-comp-regular-italic {
  font-weight: 400;
  font-style: italic;
}

.bernino-sans-comp-bold {
  font-weight: 700;
}

.bernino-sans-comp-bold-italic {
  font-weight: 700;
  font-style: italic;
}
